altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
graphviz
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
Pillow==10.1.0
python-dateutil
streamlit
numpy
pandas
requests
plotly
